@using ThisIsMilkWebApp.Controllers
@model HomeModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @Html.DropDownList("StoryPoints", Model.StoryPointListItems, new { id = "storyPoints" } )

    <input id="numberOfDaysInSprint" type="number" />

    <input type="submit" value="Start Sprint" onclick="submitSprint()"/>

    <div id="sprintsView">
        @await Html.PartialAsync("~/Views/Home/Sprints.cshtml", @Model.Sprints)
    </div>
</div>

<script src="~/js/sprints.js" type="text/javascript"></script>